
body {
  margin: 0;
  padding: 0;
  height: 100vh; /* ensure parent height is full */
  font-family: sans-serif;
}

.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: 100vh;
  box-sizing: border-box;
  gap: 60px;
  margin-left: 40%;
}

.reset-left img {
  width: 400px;
  max-width: 100%;
}

.reset-right {
  max-width: 400px;
  width: 100%;
}

.reset-right h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.reset-right label {
  display: block;
  margin-top: 20px;
  font-weight: 500;
}

.reset-right input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.password-rules {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  margin: 10px 0 0;
  color: #777;
}

.password-rules li {
  margin: 5px 0;
  transition: color 0.3s ease;
}

.password-rules .valid {
  color: green;
}

.reset-btn {
  margin-top: 25px;
  padding: 12px;
  width: 100%;
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: #d62828;
}

/*  */
.password-rules {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.password-rules li {
  margin-bottom: 6px;
  font-size: 0.9rem;
  color: #888;
  cursor: pointer;
  transition: color 0.3s ease;
}

.password-rules li.valid {
  color: #28a745; /* green color for valid */
}
